asgiref==3.6.0
Django==4.1.6
django-filter==22.1
djangorestframework==3.14.0
flake8==6.0.0
Markdown==3.4.1
mccabe==0.7.0
Pillow==9.4.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytz==2022.7.1
sqlparse==0.4.3
